# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
将删除 .idea/
将删除 MxOnline/__pycache__/
将删除 __pycache__/
将删除 apps/__pycache__/
将删除 apps/courses/__pycache__/
将删除 apps/courses/migrations/__pycache__/
将删除 apps/operations/__pycache__/
将删除 apps/operations/migrations/__pycache__/
将删除 apps/organizations/__pycache__/
将删除 apps/organizations/migrations/__pycache__/
将删除 apps/users/__pycache__/
将删除 apps/users/migrations/__pycache__/
将删除 extra_apps/__pycache__/
将删除 extra_apps/xadmin/__pycache__/
将删除 extra_apps/xadmin/locale/de_DE/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/de_DE/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/en/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/en/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/es_MX/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/es_MX/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/eu/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/eu/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/id_ID/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/id_ID/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/ja/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/ja/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/lt/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/lt/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/nl_NL/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/nl_NL/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/pl/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/pl/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/pt_BR/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/pt_BR/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/ru_RU/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/ru_RU/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/zh_Hans/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/zh_Hans/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/migrations/__pycache__/
将删除 extra_apps/xadmin/plugins/__pycache__/
将删除 extra_apps/xadmin/templatetags/__pycache__/
将删除 extra_apps/xadmin/views/__pycache__/
将删除 venv/
!/apps/courses/migrations/
!/apps/operations/migrations/
!/apps/organizations/migrations/
!/apps/users/migrations/
将删除 apps/courses/__pycache__/urls.cpython-36.pyc
将删除 apps/courses/__pycache__/views.cpython-36.pyc
将删除 apps/courses/migrations/__pycache__/0004_auto_20200304_1046.cpython-36.pyc
将删除 apps/courses/migrations/__pycache__/0005_auto_20200304_1050.cpython-36.pyc
将删除 apps/courses/migrations/__pycache__/0006_course_notice.cpython-36.pyc
将删除 apps/courses/migrations/__pycache__/0007_auto_20200304_1601.cpython-36.pyc
将删除 apps/courses/migrations/__pycache__/0008_auto_20200305_1143.cpython-36.pyc
将删除 apps/operations/__pycache__/forms.cpython-36.pyc
将删除 apps/operations/__pycache__/urls.cpython-36.pyc
将删除 apps/operations/__pycache__/views.cpython-36.pyc
将删除 apps/organizations/migrations/__pycache__/0003_teacher_is_gold.cpython-36.pyc
将删除 media/courses/2020/02/540e57300001d6d906000338-240-135.jpg
将删除 media/courses/2020/02/mysql.jpg
将删除 media/courses/2020/02/mysql_sYukX8w.jpg
将删除 media/courses/resourse/
将删除 media/head_image/
将删除 media/teacher/2020/02/default_middile_7_j3ctNsv.png
将删除 media/teacher/2020/02/default_middile_7_kNDxYju.png
