# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
将删除 .idea/
将删除 MxOnline/__pycache__/
将删除 __pycache__/
将删除 apps/__pycache__/
将删除 apps/courses/__pycache__/
将删除 apps/courses/migrations/__pycache__/
将删除 apps/operations/__pycache__/
将删除 apps/operations/migrations/__pycache__/
将删除 apps/organizations/__pycache__/
将删除 apps/organizations/migrations/__pycache__/
将删除 apps/users/__pycache__/
将删除 apps/users/migrations/__pycache__/
将删除 extra_apps/__pycache__/
将删除 extra_apps/xadmin/__pycache__/
将删除 extra_apps/xadmin/locale/de_DE/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/de_DE/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/en/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/en/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/es_MX/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/es_MX/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/eu/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/eu/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/id_ID/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/id_ID/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/ja/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/ja/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/lt/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/lt/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/nl_NL/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/nl_NL/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/pl/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/pl/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/pt_BR/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/pt_BR/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/ru_RU/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/ru_RU/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/locale/zh_Hans/LC_MESSAGES/django.mo
将删除 extra_apps/xadmin/locale/zh_Hans/LC_MESSAGES/djangojs.mo
将删除 extra_apps/xadmin/migrations/__pycache__/
将删除 extra_apps/xadmin/plugins/__pycache__/
将删除 extra_apps/xadmin/templatetags/__pycache__/
将删除 extra_apps/xadmin/views/__pycache__/
将删除 venv/
